<%= form_for(@purchase_file) do |f| %>
  <% if @purchase_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase_file.errors.count, "error") %> prohibited this purchase_file from being saved:</h2>

      <ul>
      <% @purchase_file.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :contents %><br />
    <%= f.text_area :contents %>
  </div>
  <div class="field">
    <%= f.label :processing_errors %><br />
    <%= f.text_area :processing_errors %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
