<p>
  With this form you can upload a tab delimited file with the following columns:
</p>

<ul>
  <li>purchaser name</li>
  <li>item description</li>
  <li>item price</li>
  <li>purchase count</li>
  <li>merchant address</li>
  <li>merchant name</li>
</ul>

<p>
 It is assumed that the columns will always be in the order given above, that there will always be data in each column, and that there will always be a header line. An example purchase file can be found <%= link_to("here", "/example_input.tab") %>.
</p>

<p>
  When you submit the form the purchase information is parsed, normalized, and stored in a relational database and
  the total amount of gross revenue is displayed.
</p>

<%= form_for(@purchase_file) do |f| %>
  <% if @purchase_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase_file.errors.count, "error") %> prohibited this purchase_file from being saved:</h2>

      <ul>
      <% @purchase_file.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.file_field 'uploaded_file' %>
  </div>

  <div class="actions">
    <%= f.submit 'Upload' %>
  </div>
<% end %>
