<h1>Purchase File: <%= @purchase_file.name %></h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Uploaded At:</strong>
  <%= @purchase_file.created_at %>
</p>

<p>
  <strong>Contents:</strong>
</p>

<p>
  <%= simple_format(truncate(@purchase_file.contents, length: 1000)) %>
</p>

<p>
  <%= link_to 'Show All', purchase_files_path %> |
  <%= link_to 'Delete', @purchase_file, method: :delete, data: { confirm: 'Are you sure?' } %>
</p>
